services:
  first:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: first
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "4000:3000"
    command: npm run dev
    networks:
      - app-network
    


  # 1. MongoDB Service
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    volumes:
      # Persist data to a volume named 'mongo-data'
      - mongo-data:/data/db
    ports:
      - "27018:27017"
    networks:
      - app-network


volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge